<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:left">

  <h1>

    Welcome to {{title}}!

  </h1>



  <div class="form-group">

    <label for="bookName">Book Name</label>

    <input type="bookName" class="form-control" [(ngModel)]="name" id="bookName" aria-describedby="Book Name"

           placeholder="Enter Book Name" />

  </div>

  <div class="form-group">

    <label for="date">publication Date</label>

    <input type="date" class="form-control" [(ngModel)]="date" id="date" placeholder="publication Date">

  </div>

  <div class="form-group">

    <label for="status" class="form-control" aria-describedby="Status"> Book Type</label>

    <select [(ngModel)]="status" multiple class="form-control" id="status">

      <option value="hardCover">hardCover</option>

      <option value="paperBack">Paper Back</option>

    </select>



    <label for="summary" class="form-control" aria-describedby="Summary">Summary</label>

    <textarea [(ngModel)]="summary" class="form-control" id="summary" rows="3"></textarea>

  </div>

  <button disabled="{{(name.length > 0) ? '' : 'something'}}" (click)="newItem()" class="btn btn-primary">Add Book {{totalBooks}}</button>



  <button disabled="{{(name.length > 0) ? '' : 'something'}}" (click)="deleteHardCover()" class="btn btn-primary">Delete Hard Covers {{hardCoverDeleted}}</button>

  <table class="table table-hover">

    <tr>

      <th> # </th>

      <th> Book Name </th>

      <th> Publish Date </th>

      <th> Book Type </th>

      <th> Summary </th>

      <th> Delete? </th>

    </tr>

    <tr *ngFor="let item of data; let i = index">


      <td>{{i+1}}</td>

      <td>{{this.data[i].name}}</td>

      <td>{{this.data[i].date}}</td>

      <td>{{this.data[i].status}}</td>

      <td>{{this.data[i].summary}}</td>


      <td><div *ngIf="this.data[i].name.length > 0">

        <button (click)="deleteItem(name)" class="btn btn-primary">Delete Book</button>

      </div></td>



    </tr>

  </table>



</div>
